@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0e111b;
    font-family: "Poppins", sans-serif;
    color: #d6d6d6;
}

.container{
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.changingData{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.numberBlock{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 22px;
}

.questionBlock{
    margin-top: 10px;
    width: 90%;
    font-weight: 500;
    font-size: 17px;
}

.answeringBlock{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.optionsAre{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.thisOption {
    background-color: #20232e;
    font-size: 18px;
    width: 100%;
    margin-bottom: 5px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #384052;
    border-bottom: 4px solid #384052;
    text-align: left;
    padding: 4px 12px;
    font-weight: 500;
    transition: all 0.5s;
}

.thisOption:hover {
    transform: scale(1.01) translateY(-2px);
    border-bottom: 8px solid #384052;
}

.thisOption label{
    width: 100%;
}

.checkAnswers{
    background-color: #20232e;
    margin-top: 10px;
    font-size: 18px;
    border: none;
    padding: 5px 15px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: 600;
    color: #ffffff;
    transition: all 0.3s;
}